  Created by: DLSU Web Development Team (webmaster@dlsu.edu.ph) on 06/11/03 --

@font-face { font-family: "Verdana"; font-style:  normal; font-weight: normal; src: url(VERDANA.eot);}

A:link {color: #004000; text-decoration: none}
A:visited {color: #004000; text-decoration: none}
A:hover	{color: #0080FF; text-decoration: underline}
A:active {color: #004000; text-decoration: none}

p.content a:link {color: #CC5200; text-decoration: none}
p.content a:visited {color: #CC5200; text-decoration: none}
p.content a:hover {color: #0080FF; text-decoration: underline}
p.content a:active {color: #CC5200; text-decoration: none}

p {font-family: verdana, arial, helvetica, sans-serif; color: #000000;font-size: 11px;}
li {font-family: verdana, arial, helvetica, sans-serif; color: #000000;font-size: 11px;}
td {font-family: verdana, arial, helvetica, sans-serif; color: #000000;font-size: 11px;}
p.title {font-family: trebuchet ms, arial, helvetica sans-serif; color: #993300;font-size: 16px; font-weight: bold;}
p.author {font-family: verdana, arial, helvetica, sans-serif; color: #000000;font-size: 10px; font-style: italic; }
p.heading {font-family: arial, helvetica sans-serif; color: #000000;font-size: 12px; font-weight: bold;}

#dateno {
	position: absolute;
	left:160px;
	top:80px;
	z-index:25;
	visibility: visible;
}

#shortcut {
	position: absolute;
	left: 375px;
	top: 15px;
	z-index: 10;
	visibility: hidden;
}	


//
